<div class="animated fadeIn row">
  <div class="large-12 columns cuadro1">
    <h1 class="cuadro">Regístrate</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <small class="cuadro">(<%= @minimum_password_length %> caracteres minimo.)</small class="cuadro">
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      
      <div class="row">
        <div class="small-6 large-6 columns">
          <div class="actions">
            <%= f.submit "Regístrate", :class => 'button small radius' %>
          </div>
        </div>
        <div class="small-6 large-6 columns">
          <nav>
            <ul class="legals1">
              <%= render "devise/shared/links" %>
            </ul>
          </nav> 
        </div>
      </div>
      
    <% end %>
  </div>
</div>

