<div class="animated fadeIn row">
	<div class="large-12 columns cuadro1">
		<h1 class="cuadro">Vuelver a enviar instrucciones para desbloquear cuenta</h1>

		<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %>
		    <%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Enviar instrucciones para desbloquear", :class => 'button small radius' %>
		  </div>
		<% end %>
	    <nav>
	      <ul class="legals1">
	        <%= render "devise/shared/links" %>
	      </ul>
	    </nav>
	</div>
</div>

