<div class="animated fadeIn row">
	<div class="large-12 columns cuadro1">
		<h1 class="cuadro">¿Olvidaste tu contraseña?</h1>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %>
		    <%= f.email_field :email, autofocus: true %>
		  </div>
		
		  <div class="row">
		  	<div class="small-6 large-6 columns">
		  		<div class="actions">
		    		<%= f.submit "Enviarme instrucciones para restablecer la contraseña", :class => 'button small radius' %>
		  		</div>
		  	</div>
		  	<div class="small-6 large-6 columns">
		  		<nav>
		   			<ul class="legals1">
		    			<%= render "devise/shared/links" %>
		   			</ul>
				</nav>
		  	</div>
		  </div>
		  
		<% end %>

		  
	</div>
</div>
