<% if user_signed_in? %>
  <section>
    <div class="row">
      <div class="large-8 columns" data-equalizer>
        <% @products.each do |category, products| %>
          <h3><%= category.name %></h3>
          <ul>
            <% products.each do |product| %>
              <div class="row" data-equalizer>
                  <div class="large-4 panel callout radius columns" data-equalizer-watch>
                    <li class="contenedor">
                      <img src="product.default_image">
                      <h4><%= link_to product.name, product_path(product.permalink) %></h4>
                      <p><%= product.short_description %></p>
                      <p><b>Precio:</b> <%= number_to_currency product.price %></p>               
                    </li>
                  </div>
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="large-4 columns text-center" data equalizer>
        <div class="large-12">
          <h2>Tu sucursal mas cercana es: <i class="fa fa-map-marker"></i> <strong>Justo Sierra</strong>
            <% if notice %>
              <%= notice %>
            <% end %>
            <% if alert %>
              <%= alert %>
            <% end %>
          </h2>
        </div>
        <div class="large-12 panel">
          <h2><%= gravatar_image_tag(current_user.email, :alt=> current_user.email, :class=> 'circle') %> <%= current_user.email %></h2>
          <h2>Mi cuenta va: <i class="fa fa-shopping-cart"></i> <%= number_to_currency current_order.total_before_tax %></h2>
          <%= link_to "Ver mi canasta", basket_path, :class => 'button tiny expand radius' %>
          <%= link_to "Pagar", checkout_path, :class => 'button tiny expand radius' %>              
        </div>         
      </div>
    </div>
  </section>
<% else %>
  <header class="animated fadeIn">
    <div class="row">
      <div class="large-6 columns cuadro">
        <h1 class="cuadro"><%= t(".brand") %></h1>
          <p> <%= t(".copy") %> </p>
      </div>
      <div class="small-12 large-12 text-center columns">
        <div class="logo">
          <figure>
            <%= image_tag "bag.png", :alt => t(".brand") %>
          </figure>
        </div>
        <div class="large-12 columns cuadro1">
          <h6 class="cuadro">Recibe en tu correo las ofertas y promociones que tenemos, suscríbete a nuestro boletín.</h6>
          <a href="" data-reveal-id="myModal1" class="button tiny"><i class="fa fa-newspaper-o"></i> ¡Suscribirme ahora!</a>
        </div>
      </div>
    </div>
  </header>
  <%= render :partial => "test/contact" %>
<% end %>