<nav class="navbar" role="navigation">
    <div class="row" data-equalizer>
      <div class="small-12 medium-8 large-4 columns">
        <figure>
          <%= link_to image_tag("logo.png", :alt => "logo"), root_path %>
        </figure>
      </div>
      <div class="large-8 columns">
        <div class="row">
          <div class="animated slideInDown small-12 columns">
            <nav>
              <ul class="legals1">
                <% if user_signed_in? %>
                  <li><%= link_to 'Editar cuenta', edit_user_registration_path, :class => 'navbar-link' %></li> 
                  <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>    
                  <li><%= image_tag "min.png", :alt => "Mi cesta" %> <span class="label radius"><%= pluralize current_order.total_items, 'item' %></span></li>                 
                <% else %>                
                  <li><%= link_to "Regístrate", new_user_registration_path, :class => 'navbar-link'  %></li>
                  <li><%= link_to "Inicia sesión", new_user_session_path, :class => 'navbar-link'  %></li>                
                <% end %>
              </ul>              
            </nav>
          </div>
        </div>
      </div>
    </div>
</nav> 